In [1]:
import pandas as pd

In [2]:
file = "../../../../../dataframes/enoe/SDEMT/df_concat_2016.csv"

In [3]:
df_01 = pd.read_csv(filepath_or_buffer=file)
df_01.head()

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (21,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CVE_LOC,CVE_MUN,est,t_loc,CVE_ENT,sex,eda,nac_dia,nac_mes,nac_anio,...,ma48me1sm,p14apoyos,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins
0,1,2,10,1,9,1.0,46.0,31.0,3.0,1969.0,...,0,2,4,1,1,1,0,1,7,8
1,1,2,10,1,9,2.0,48.0,28.0,8.0,1967.0,...,0,2,19,1,1,2,0,2,1,9
2,1,2,10,1,9,1.0,23.0,17.0,10.0,1992.0,...,0,2,7,1,2,2,0,3,2,2
3,1,2,10,1,9,2.0,18.0,12.0,4.0,1997.0,...,0,2,0,1,0,0,0,0,0,0
4,1,2,10,1,9,1.0,36.0,31.0,12.0,1979.0,...,0,2,0,1,0,0,0,0,0,0

In [4]:
df_01.shape

(38352, 88)

In [5]:
file = "../../../../../dataframes/enoe/SDEMT/df_concat_2017.csv"

In [6]:
df_02 = pd.read_csv(filepath_or_buffer=file)
df_02.head()

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CVE_LOC,CVE_MUN,est,t_loc,CVE_ENT,sex,eda,nac_dia,nac_mes,nac_anio,...,ma48me1sm,p14apoyos,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins
0,1,2,10,1,9,1.0,63.0,20.0,5.0,1953.0,...,0,2,19,1,1,1,0,1,7,8
1,1,2,10,1,9,2.0,58.0,11.0,3.0,1958.0,...,0,2,0,1,0,0,0,0,0,0
2,1,2,10,1,9,1.0,31.0,21.0,12.0,1985.0,...,0,2,12,1,1,2,0,3,1,2
3,1,2,10,1,9,1.0,52.0,23.0,10.0,1964.0,...,0,2,20,1,2,2,0,3,2,5
4,1,2,10,1,9,2.0,51.0,5.0,9.0,1965.0,...,0,2,0,1,0,0,0,0,0,0

In [7]:
df_02.shape

(38045, 88)

In [8]:
df_01.shape

(38352, 88)

In [9]:
frames = [df_01, df_02]

In [10]:
df = pd.concat(frames)

In [11]:
df.shape

(76397, 88)

In [12]:
file = "../../../../../dataframes/enoe/SDEMT/df_concat.csv"

In [13]:
df.to_csv(path_or_buf=file, index=False)