In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [41]:
file = "../../../../../../dataframes/enh/df_09_impute.csv"

In [42]:
df = pd.read_csv(file)

In [43]:
df.shape

(3588, 61)

In [73]:
df_copy = df.copy()

In [74]:
df_copy.head()

,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,antiguedad,auto_pick,bano_comp,bano_excus,bano_regad,...,sanit_agua,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar
0,2,2,2,2,2,35,2,1,0,0,...,1,1,2,1,1,1,1,1,1,2
1,2,9,9,9,9,10,1,2,0,0,...,1,1,2,1,1,1,2,1,1,2
2,2,2,2,2,2,24,2,2,0,0,...,1,1,2,1,1,1,2,1,1,2
3,2,2,2,2,2,10,1,1,0,0,...,1,1,1,1,3,1,2,1,1,2
4,2,2,2,2,2,38,2,1,0,0,...,1,1,2,2,1,1,1,1,2,2

In [46]:
#list(df_copy.columns)

In [47]:
list_num = ['antiguedad','cuart_dorm','bano_comp','bano_excus', 'bano_regad','focos_ahor', 'focos_inca','num_cuarto']

In [48]:
list_cat = []

for row in df_copy.columns:
    if row not in list_num:
#            print(row)
        list_cat.append(row)
            
#list_numericos

In [49]:
df_copy[list_cat].head()

,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,auto_pick,bomba_agua,calefacc,calent_gas,calent_sol,...,sanit_agua,tam_loc,tanque_gas,tel_fijo,tenencia,tinaco_azo,tipo_viv,tot_hog,tv_paga,uso_compar
0,2,2,2,2,2,2,1,2,1,2,...,1,1,2,1,1,1,1,1,1,2
1,2,9,9,9,9,1,1,2,1,2,...,1,1,2,1,1,1,2,1,1,2
2,2,2,2,2,2,2,1,2,1,2,...,1,1,2,1,1,1,2,1,1,2
3,2,2,2,2,2,1,1,2,1,2,...,1,1,1,1,3,1,2,1,1,2
4,2,2,2,2,2,2,1,2,1,2,...,1,1,2,2,1,1,1,1,2,2

In [50]:
df_copy[list_num].head()

,antiguedad,cuart_dorm,bano_comp,bano_excus,bano_regad,focos_ahor,focos_inca,num_cuarto
0,35,2,1,0,0,10,0,5
1,10,2,2,0,0,10,0,4
2,24,2,2,0,0,0,15,4
3,10,2,1,0,0,17,0,5
4,38,1,1,0,0,2,0,2

# transform num->cat

In [51]:
for column in df_copy[list_num].columns:
    print(column)
    print(df[column].unique())

antiguedad
[35 10 24 38 15 50 23 16 20 36 25 32 14  8 40 45 30 48 39 29 54 80 46 52
 70 60 43 55 90 34 44 22 28  6  2 37 26 75 99 41 42 33  3  4 12 13 19 21
  1 27 17 18  5 31 11 49  7 47 85 62 57  9 56  0 51 63 53 64 69 67 61 65
 76 68 77 58 95 59 87]
cuart_dorm
[2 1 3 4 5 6 9 7 8]
bano_comp
[1 2 0 3 6 4 5 7 9]
bano_excus
[0 1 2 3 6 4]
bano_regad
[0 1 2]
focos_ahor
[10  0 17  2  6 11  4  7  9 13  3 40  8 12 23  5  1 14 18 20 16 36 25 15
 30 50 22 60 31 28 26 70 35 19 21 90 32 99 29 46 24 37 45 33 27 65 47]
focos_inca
[ 0 15  2 10  6  5  1  7  3  8  4 28 16  9 13 25 11 12 35 17 30 70 20 14
 90]
num_cuarto
[ 5  4  2  1  3  7  6 10  8 11  9 12 16 15]

In [75]:
list_candidates = ["antiguedad", "focos_ahor", "focos_inca"]

In [76]:
#set up bins
bins = [-1,0,5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]

#use pd.cut function can attribute the values into its specific bins
df_copy.antiguedad = pd.cut(df_copy.antiguedad,bins).to_frame()
df_copy.antiguedad.head()

0    (30, 35]
1     (5, 10]
2    (20, 25]
3     (5, 10]
4    (35, 40]
Name: antiguedad, dtype: object

In [77]:
#set up bins
bins = [-1,0,3,6,9,100]

#use pd.cut function can attribute the values into its specific bins
df_copy.focos_ahor = pd.cut(df_copy.focos_ahor,bins).to_frame()
df_copy.focos_ahor.head()

0    (9, 100]
1    (9, 100]
2     (-1, 0]
3    (9, 100]
4      (0, 3]
Name: focos_ahor, dtype: object

In [78]:
#set up bins
bin = [-1,0,3,6,9,100]

#use pd.cut function can attribute the values into its specific bins
df_copy.focos_inca = pd.cut(df_copy.focos_inca,bin).to_frame()
df_copy.focos_inca.head()

0     (-1, 0]
1     (-1, 0]
2    (9, 100]
3     (-1, 0]
4     (-1, 0]
Name: focos_inca, dtype: object

In [80]:
for column in df_copy[list_candidates].columns:
    print(column)
    print(df_copy[column].value_counts())

antiguedad
(25, 30]     496
(35, 40]     414
(20, 25]     414
(15, 20]     386
(30, 35]     352
(5, 10]      308
(10, 15]     274
(45, 50]     273
(0, 5]       193
(40, 45]     174
(55, 60]     114
(50, 55]      69
(65, 70]      35
(75, 80]      26
(60, 65]      20
(95, 100]     16
(85, 90]      11
(-1, 0]        7
(70, 75]       3
(80, 85]       2
(90, 95]       1
Name: antiguedad, dtype: int64
focos_ahor
(3, 6]      1204
(9, 100]     799
(6, 9]       717
(0, 3]       608
(-1, 0]      260
Name: focos_ahor, dtype: int64
focos_inca
(-1, 0]     2745
(0, 3]       477
(3, 6]       230
(6, 9]        76
(9, 100]      60
Name: focos_inca, dtype: int64

In [81]:
list_regejos = df_copy.columns[df_copy.isnull().any()].tolist()
list_regejos

[]

In [82]:
df_copy.drop(labels=list_regejos, axis=1, inplace=True)

In [83]:
file = "../../../../../../dataframes/enh/df_09_transform_categorical.csv"

In [84]:
df_copy.to_csv(file,index = False, header = True, sep = ',', encoding = 'utf-8')