In [1]:
import pandas as pd

In [2]:
file = "../../../../../../dataframes/enoe/COE1T/df_concat_2016.csv"

In [3]:
df_01 = pd.read_csv(filepath_or_buffer=file)
df_01.head()

,eda,p1,p1a1,p1a2,p1a3,p1b,p1c,p1d,p1e,p2_1,...,p5g2,p5g3,p5g4,p5g5,p5g6,p5g7,p5g8,p5g9,p5g99,p5h
0,46,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48,2,NaN,NaN,3.0,1.0,5.0,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18,2,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36,2,NaN,NaN,3.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_01.shape

(31779, 233)

In [5]:
file = "../../../../../../dataframes/enoe/COE1T/df_concat_2017.csv"

In [6]:
df_02 = pd.read_csv(filepath_or_buffer=file)
df_02.head()

,eda,p10_1,p10_2,p10_3,p10_4,p10_9,p10a1,p10a2,p10a3,p10a4,...,p9m3,p9m9,p9mcan,p9n1,p9n2,p9n3,p9n4,p9n5,p9n6,p9n9
0,63,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,58,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
2,31,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN
4,51,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN

In [7]:
df_02.shape

(31688, 134)

In [8]:
df_01.shape

(31779, 233)

In [9]:
frames = [df_01, df_02]

In [10]:
df = pd.concat(frames)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
df.shape

(63467, 366)

In [12]:
file = "../../../../../../dataframes/enoe/COE1T/df_concat.csv"

In [13]:
df.to_csv(path_or_buf=file, index=False)