In [1]:
import pandas as pd

# 2016

In [2]:
file = "../../../../../../data/inegi-encuestas/localidad/enh/vivienda_2016.csv"

In [16]:
df_01 = pd.read_csv(filepath_or_buffer=file)
df_01.head()

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,auto_pick,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
0,100006018,1,,,8,9,3,2,2,2,...,1,4,1,10010000,000-0,1,3,1,1,165
1,100006037,1,,,8,9,3,2,2,2,...,2,2,1,10010000,000-0,1,3,1,1,165
2,100006055,1,,,8,9,3,2,2,2,...,1,2,1,10010000,000-0,1,3,1,1,165
3,100006068,1,,,8,9,3,2,2,2,...,1,4,1,10010000,000-0,1,3,1,1,165
4,100006085,1,,,8,9,2,2,2,2,...,1,4,1,10010000,000-0,1,3,1,1,165

In [17]:
df_01.shape

(58066, 109)

In [34]:
df_copy = df_01.copy()

In [35]:
df_copy = df_copy[(df_copy.ubica_geo >= 90000000) & (df_copy.ubica_geo < 100000000)]
df_copy.reset_index(inplace=True)
df_copy.drop(labels=['index'], axis=1, inplace=True)
df_copy.head()

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,auto_pick,tot_resid,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
0,900139021,1,,,8,9,2,2,2,2,...,2,4,1,90020000,000-0,1,3,58,2181,1834
1,900139069,2,4,1,8,9,3,9,9,9,...,1,3,1,90020000,000-0,1,3,58,2181,1834
2,900139097,2,4,1,8,9,3,2,2,2,...,2,3,1,90020000,000-0,1,3,58,2181,1834
3,900139124,2,4,2,8,9,3,2,2,2,...,1,4,1,90020000,000-0,1,3,58,2181,1834
4,900139153,1,,,8,9,2,2,2,2,...,2,1,1,90020000,000-0,1,3,58,2181,1834

In [36]:
df_copy.ubica_geo = df_copy.ubica_geo.astype(str)

In [38]:
len(df_copy.ubica_geo[0])

8

In [39]:
for line in range(0, df_copy.shape[0]):
    if(len(df_copy.ubica_geo[line]) == 8):
        df_copy.ubica_geo[line] = '0' + df_copy.ubica_geo[line]

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [40]:
df_copy.ubica_geo[0]

'090020000'

In [41]:
df_copy.ubica_geo[0][:2]

'09'

In [42]:
l_ent = []
l_mun = []
l_loc = []

In [43]:
for line in range(0, df_copy.shape[0]):
    l_ent.append(df_copy.ubica_geo[line][:2])
    l_mun.append(df_copy.ubica_geo[line][2:5])
    l_loc.append(df_copy.ubica_geo[line][5:])

In [44]:
len(l_ent) == len(l_mun) == len(l_loc)

True

In [45]:
df_copy['CVE_ENT'] = l_ent
df_copy['CVE_MUN'] = l_mun
df_copy['CVE_LOC'] = l_loc

In [49]:
df_copy['loc'].unique()

array(['0000'], dtype=object)

In [51]:
df_2016 = df_copy.copy()

# 2017

In [53]:
file = "../../../../../../data/inegi-encuestas/localidad/enh/vivienda_2017.csv"

In [54]:
df_02 = pd.read_csv(filepath_or_buffer=file)
df_02.head()

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
0,100008010,1,,,8,9,3,2,2,2,...,2,1,1,10010000,000-0,1,4,8,1,221
1,100008034,1,,,8,9,3,1,2,2,...,1,1,1,10010000,000-0,1,4,8,1,221
2,100008077,1,,,8,9,3,9,9,2,...,1,1,1,10010000,000-0,1,4,8,1,221
3,100025016,1,,,8,9,3,1,2,2,...,2,1,1,10010000,000-0,1,3,7,2,194
4,100025022,1,,,8,9,3,2,2,2,...,1,1,1,10010000,000-0,1,3,7,2,194

In [55]:
df_copy = df_02.copy()

In [56]:
df_copy = df_copy[(df_copy.ubica_geo >= 90000000) & (df_copy.ubica_geo < 100000000)]
df_copy.reset_index(inplace=True)
df_copy.drop(labels=['index'], axis=1, inplace=True)
df_copy.head()

,folioviv,tipo_viv,condominio,elevador,mat_pared,mat_techos,mat_pisos,ais_techos,ais_pared,ais_ventan,...,tv_paga,auto_pick,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
0,900083044,2,06,2,8,9,3,2,2,2,...,1,1,1,90020000,000-0,1,4,82,2181,1791
1,900083065,2,05,2,8,9,3,2,2,2,...,2,2,1,90020000,000-0,1,4,82,2181,1791
2,900083089,2,06,2,8,9,3,2,2,2,...,2,2,1,90020000,000-0,1,4,82,2181,1791
3,900083113,2,06,2,8,9,3,2,2,2,...,2,2,1,90020000,000-0,1,4,82,2181,1791
4,900168010,1,,,8,9,3,2,2,2,...,2,2,1,90020000,000-0,1,2,80,2182,1236

In [57]:
df_copy.ubica_geo = df_copy.ubica_geo.astype(str)

In [58]:
len(df_copy.ubica_geo[0])

8

In [59]:
for line in range(0, df_copy.shape[0]):
    if(len(df_copy.ubica_geo[line]) == 8):
        df_copy.ubica_geo[line] = '0' + df_copy.ubica_geo[line]

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [60]:
df_copy.ubica_geo[0]

'090020000'

In [61]:
df_copy.ubica_geo[0][:2]

'09'

In [62]:
l_ent = []
l_mun = []
l_loc = []

In [63]:
for line in range(0, df_copy.shape[0]):
    l_ent.append(df_copy.ubica_geo[line][:2])
    l_mun.append(df_copy.ubica_geo[line][2:5])
    l_loc.append(df_copy.ubica_geo[line][5:])

In [64]:
len(l_ent) == len(l_mun) == len(l_loc)

True

In [65]:
df_copy['CVE_ENT'] = l_ent
df_copy['CVE_MUN'] = l_mun
df_copy['CVE_LOC'] = l_loc

In [67]:
df_copy['CVE_LOC'].unique()

array(['0000'], dtype=object)

In [68]:
df_2017 = df_copy.copy()

#

In [77]:
df_2016.shape

(1812, 112)

In [78]:
df_2017.shape

(1776, 113)

In [82]:
frames = [df_2016, df_2017]

In [83]:
df = pd.concat(frames)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [84]:
df.shape

(3588, 133)

In [87]:
df.drop(labels=['CVE_LOC'], axis=1, inplace=True)

In [90]:
file = "../../../../../../dataframes/enh/df_09_concat.csv"

In [91]:
df.to_csv(path_or_buf=file, index=False)