In [1]:
import pandas as pd

In [4]:
file = '../../../../../../dataframes/inegi/df_sec_deleg.csv'

In [5]:
df_sec_deleg = pd.read_csv(file)
df_sec_deleg.head()

,ID,Año,Mes,NOM_MUN,Latitud,Longitud,Geopoint,CVE_MUN
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476",5
1,87961,2016,Agosto,GUSTAVO A MADERO,19.497711,-99.113795,"19.4977111806, -99.1137954007",5
2,454115,2016,Abril,GUSTAVO A MADERO,19.465953,-99.119078,"19.4659529998, -99.119078",5
3,541197,2016,Marzo,GUSTAVO A MADERO,19.501905,-99.131572,"19.5019049998, -99.131572",5
4,5435,2016,Julio,CUAUHTEMOC,19.459304,-99.139653,"19.4593044259, -99.1396525907",15

## SECUESTROS

aquí lo importantes es el `CVE_MUN`

In [23]:
file = '../../../../../../dataframes/inegi/df_sec_deleg.csv'

In [24]:
df_sec_deleg = pd.read_csv(file)
df_sec_deleg.head(2)

,ID,Año,Mes,NOM_MUN,Latitud,Longitud,Geopoint,CVE_MUN
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476",5
1,87961,2016,Agosto,GUSTAVO A MADERO,19.497711,-99.113795,"19.4977111806, -99.1137954007",5

In [25]:
df_sec_deleg_copy = df_sec_deleg.copy()

In [26]:
df_sec_deleg.CVE_MUN.unique()

array([ 5, 15, 13,  7, 16,  4, 14, 12, 10, 17,  3,  6,  9, 11])

In [34]:
list_delegaciones = list(df_sec_deleg.CVE_MUN.unique())

## DATAFRAME WITH `CVE_MUN`

aquí lo importantes es el `CVE_MUN`

In [15]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_09.csv'

In [16]:
df_09 = pd.read_csv(file)
df_09.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,CVE_MUN
0,1,2,3,1,40,8,4,1,3,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,1,2,1,1,83,8,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [17]:
df_09_copy = df_09.copy()

In [27]:
df_09_copy.shape

(1733, 120)

## BEST ENTROPY

aquí lo importantes es el `CVE_MUN`

In [6]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_vect_best_entropy.csv'

In [9]:
df_vect_best_entropy = pd.read_csv(file)
df_vect_best_entropy.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,percep_tot,mantenim,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.062676,0.0,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.003912,0.0,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438

In [10]:
df_vect_best_entropy_copy = df_vect_best_entropy.copy()

In [28]:
df_vect_best_entropy_copy.shape

(1733, 50)

Extraemos el `CVE_MUN` del data frame `df_09_copy`

In [31]:
df_09_copy[['CVE_MUN']].head(2)

   CVE_MUN
0        2
1        2

Se lo ponemos al data frame `df_vect_best_entropy_copy`

In [32]:
df_vect_best_entropy_copy['CVE_MUN'] = df_09_copy['CVE_MUN']

In [33]:
df_vect_best_entropy_copy.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,mantenim,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob,CVE_MUN
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.0,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000,2
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.0,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438,2

In [46]:
list_target = []

for key, value in df_vect_best_entropy_copy.CVE_MUN.items():
    if df_vect_best_entropy_copy.CVE_MUN.iloc[key] in list_delegaciones:
        list_target.append('1')
    else:
        list_target.append('0')

In [48]:
#list_target

In [49]:
df_vect_best_entropy_copy['secuestro'] = list_target

In [51]:
df_vect_best_entropy_copy.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob,CVE_MUN,secuestro
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000,2,0
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438,2,0

In [57]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_integration_transform.csv'

In [58]:
df_vect_best_entropy_copy.to_csv(path_or_buf=file, index=False)