In [23]:
library(SpatEntropy)
library(ggplot2)
library(stats)
library(factoextra)
library(clusterCrit)
library(scatterplot3d)
library(kmed)
library(plotly)
library(clustMixType)
library(kimisc)

In [24]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_09_clean.csv'

In [25]:
#cargar
df <- read.csv(file = file)
data <- df
head(data)

  tam_loc est_socio clase_hog sexo_jefe edad_jefe educa_jefe tot_integ hombres
1 1       2         3         1         40         8         4         1
2 1       2         1         1         83         8         1         1
3 1       2         2         2         44         8         3         2
4 1       2         1         1         48        10         1         1
5 1       2         1         1         75        10         1         1
6 1       2         3         1         60         4         8         2
  mujeres mayores ⋯ cuota_viv mater_serv material servicio deposito prest_terc
1 3       3       ⋯ 0           0          0      0        0        0
2 0       1       ⋯ 0           0          0      0        0        0
3 1       2       ⋯ 0           0          0      0        0        0
4 0       1       ⋯ 0           0          0      0        0        0
5 0       1       ⋯ 0           0          0      0        0        0
6 6       7       ⋯ 0         929        929      0        0        0
  pago_tarje deudas balance otras_erog
1 0              0     0    0
2 0              0     0    0
3 0              0     0    0
4 0              0     0    0
5 0          10327     0    0
6 0              0  1076    0

In [26]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_09_clean.csv'

In [27]:
#cargar
df <- read.csv(file = file)
data_tra <- df
head(data_tra)

  tam_loc est_socio clase_hog sexo_jefe edad_jefe educa_jefe tot_integ hombres
1 1       2         3         1         40         8         4         1
2 1       2         1         1         83         8         1         1
3 1       2         2         2         44         8         3         2
4 1       2         1         1         48        10         1         1
5 1       2         1         1         75        10         1         1
6 1       2         3         1         60         4         8         2
  mujeres mayores ⋯ cuota_viv mater_serv material servicio deposito prest_terc
1 3       3       ⋯ 0           0          0      0        0        0
2 0       1       ⋯ 0           0          0      0        0        0
3 1       2       ⋯ 0           0          0      0        0        0
4 0       1       ⋯ 0           0          0      0        0        0
5 0       1       ⋯ 0           0          0      0        0        0
6 6       7       ⋯ 0         929        929      0        0        0
  pago_tarje deudas balance otras_erog
1 0              0     0    0
2 0              0     0    0
3 0              0     0    0
4 0              0     0    0
5 0          10327     0    0
6 0              0  1076    0

In [28]:
ncol(data)

[1] 117

In [29]:
list_cat = c('tam_loc', 'est_socio', 'clase_hog', 'sexo_jefe', 'educa_jefe')

In [30]:
list_num = c('edad_jefe','tot_integ', 'hombres', 'mujeres', 'mayores', 'menores', 'p12_64',
 'p65mas', 'ocupados', 'percep_ing', 'perc_ocupa', 'ing_cor', 'ingtrab', 'trabajo', 'sueldos',
 'horas_extr', 'comisiones', 'aguinaldo', 'indemtrab', 'otra_rem', 'remu_espec', 'negocio',
 'noagrop', 'industria', 'comercio', 'servicios', 'agrope', 'agricolas', 'pecuarios', 'otros_trab', 'rentas', 'utilidad', 'arrenda', 'transfer', 'jubilacion', 'becas', 'donativos', 'remesas',
 'bene_gob', 'transf_hog', 'trans_inst', 'estim_alqu', 'otros_ing', 'gasto_mon', 'alimentos', 'ali_dentro',
 'cereales', 'carnes', 'pescado', 'leche', 'huevo', 'aceites', 'tuberculo', 'verduras', 'frutas', 'azucar', 'cafe', 'especias', 'otros_alim', 'bebidas', 'ali_fuera', 'tabaco',
 'vesti_calz', 'vestido', 'calzado', 'vivienda', 'alquiler', 'pred_cons', 'agua', 'energia',
 'limpieza', 'cuidados', 'utensilios', 'enseres', 'salud', 'atenc_ambu', 'hospital', 'medicinas', 'transporte',
 'publico', 'foraneo', 'adqui_vehi', 'mantenim', 'refaccion', 'combus', 'comunica', 'educa_espa', 'educacion',
 'esparci', 'paq_turist', 'personales', 'cuida_pers', 'acces_pers', 'otros_gas', 'transf_gas', 'percep_tot',
 'retiro_inv', 'prestamos', 'otras_perc', 'ero_nm_viv', 'ero_nm_hog', 'erogac_tot', 'cuota_viv', 'mater_serv',
 'material', 'servicio', 'deposito', 'prest_terc', 'pago_tarje', 'deudas', 'balance', 'otras_erog')

In [31]:
data[,list_cat] <- lapply(data[,list_cat],as.factor)
head(data[,list_cat])

  tam_loc est_socio clase_hog sexo_jefe educa_jefe
1 1       2         3         1         8
2 1       2         1         1         8
3 1       2         2         2         8
4 1       2         1         1         10
5 1       2         1         1         10
6 1       2         3         1         4

In [32]:
data[,list_num] <- lapply(data[,list_num],as.numeric)
head(data[,list_num])

  edad_jefe tot_integ hombres mujeres mayores menores p12_64 p65mas ocupados
1 40        4         1       3       3       1       3      0      2
2 83        1         1       0       1       0       0      1      0
3 44        3         2       1       2       1       2      0      1
4 48        1         1       0       1       0       1      0      1
5 75        1         1       0       1       0       0      1      0
6 60        8         2       6       7       1       7      0      3
  percep_ing ⋯ cuota_viv mater_serv material servicio deposito prest_terc
1 2          ⋯ 0           0          0      0        0        0
2 1          ⋯ 0           0          0      0        0        0
3 1          ⋯ 0           0          0      0        0        0
4 1          ⋯ 0           0          0      0        0        0
5 1          ⋯ 0           0          0      0        0        0
6 6          ⋯ 0         929        929      0        0        0
  pago_tarje deudas balance otras_erog
1 0              0     0    0
2 0              0     0    0
3 0              0     0    0
4 0              0     0    0
5 0          10327     0    0
6 0              0  1076    0

In [33]:
#sample <- kimisc::sample.rows(x = data, size = 10)

In [34]:
kmeans <- clustMixType::kproto(x = data, k = 2)

# NAs in variables:
   tam_loc  est_socio  clase_hog  sexo_jefe  edad_jefe educa_jefe  tot_integ
         0          0          0          0          0          0          0
   hombres    mujeres    mayores    menores     p12_64     p65mas   ocupados
         0          0          0          0          0          0          0
percep_ing perc_ocupa    ing_cor    ingtrab    trabajo    sueldos horas_extr
         0          0          0          0          0          0          0
comisiones  aguinaldo  indemtrab   otra_rem remu_espec    negocio    noagrop
         0          0          0          0          0          0          0
 industria   comercio  servicios     agrope  agricolas  pecuarios otros_trab
         0          0          0          0          0          0          0
    rentas   utilidad    arrenda   transfer jubilacion      becas  donativos
         0          0          0          0          0          0          0
   remesas   bene_gob transf_hog trans_inst estim_alqu  otros_ing  gasto_mon
         0          0          0          0          0          0          0
 alimentos ali_dentro   cereales     carnes    pescado      leche      huevo
         0          0          0          0          0          0          0
   aceites  tuberculo   verduras     frutas     azucar       cafe   especias
         0          0          0          0          0          0          0
otros_alim    bebidas  ali_fuera     tabaco vesti_calz    vestido    calzado
         0          0          0          0          0          0          0
  vivienda   alquiler  pred_cons       agua    energia   limpieza   cuidados
         0          0          0          0          0          0          0
utensilios    enseres      salud atenc_ambu   hospital  medicinas transporte
         0          0          0          0          0          0          0
   publico    foraneo adqui_vehi   mantenim  refaccion     combus   comunica
         0          0          0          0          0          0          0
educa_espa  educacion    esparci paq_turist personales cuida_pers acces_pers
         0          0          0          0          0          0          0
 otros_gas transf_gas percep_tot retiro_inv  prestamos otras_perc ero_nm_viv
         0          0          0          0          0          0          0
ero_nm_hog erogac_tot  cuota_viv mater_serv   material   servicio   deposito
         0          0          0          0          0          0          0
prest_terc pago_tarje     deudas    balance otras_erog
         0          0          0          0          0
0 observation(s) with NAs.

Estimated lambda: 327928974

In [37]:
sample <- as.matrix(as.integer(data_tra))

ERROR: Error in as.matrix(as.integer(data_tra)): (list) object cannot be coerced to type 'integer'

In [36]:
#sample <- as.matrix(as.integer(data_tra))

#kmeans <- stats::kmeans(x = sample, centers = 2, nstart = 25)
  
index_internal_kmeans <- clusterCrit::intCriteria(traj = sample,
                                                  part = as.integer(kmeans$cluster), 
                                                  crit = "dunn")

index_internal_kmeans

ERROR: Error in clusterCrit::intCriteria(traj = sample, part = as.integer(kmeans$cluster), : REAL() can only be applied to a 'numeric', not a 'integer'

In [ ]:
#data <- as.matrix(data)

range_k = 2:10
dunn_kmeans <- c()
set.seed(123)

for (k in range_k) {
  set.seed(123)
  
  kmeans <- clustMixType::kproto(x = data, k = k, iter.max = 50, nstart = 25)
  
  index_internal_kmeans <- clusterCrit::intCriteria(traj = as.matrix(sample),
                                                    part = as.integer(kmeans$cluster), 
                                                    crit = "dunn")
  dunn_kmeans[k-1] <- index_internal_kmeans$dunn
}

In [ ]:
max(dunn_kmeans)

In [ ]:
plot_dunn_kmeans <- ggplot2::qplot(x = range_k, 
                                   y = dunn_kmeans, 
                                   geom = 'line', 
                                   main = 'k-means', 
                                   xlab = 'k', 
                                   ylab = 'Dunn')

ggplotly(
    plot_dunn_kmeans  + 
    theme_bw() + #ylim(0,0.3) + 
    geom_vline(xintercept = range_k[which.max(dunn_kmeans)],
               linetype = 2, color='red')   
    )

In [ ]:
kmeans <- kmeans <- kmed::fastkmed(distdata = dist_data, 
                                   ncluster = range_k[which.max(dunn_kmeans)], 
                                   iterate = 50)

In [ ]:
plot_kmeans <- factoextra::fviz_cluster(object = list(data = data, 
                                                      cluster = kmeans$cluster),
                                        data = data,
                                        stand = F, 
                                        geom =  'point', 
                                        ellipse.type = 'convex',
                                        ellipse = T,
                                        main = paste('k-medoids "mrw" k:', range_k[which.max(dunn_kmeans)]),
                                        outlier.color = 'black',
                                        show.clust.cent = T)

ggplotly(
    plot_kmeans + 
    theme_bw() +
    theme(legend.position = 'bottom')  
    )

In [ ]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_entropy_og_mixed.csv'

In [ ]:
#cargar
df <- read.csv(file = file)
data_entropy <- df
head(data_entropy)

In [ ]:
plot_kmeans <- factoextra::fviz_cluster(object = list(data = data[c("ing_cor", "gasto_mon")], 
                                                      cluster = kmeans$cluster),
                                        data = data,
                                        stand = F, 
                                        geom =  'point', 
                                        ellipse.type = 'convex',
                                        ellipse = T,
                                        main = paste('k-medoids "gower" k:', range_k[which.max(dunn_kmeans)]),
                                        outlier.color = 'black',
                                        show.clust.cent = T)

ggplotly(
    plot_kmeans + 
    theme_bw() +
    theme(legend.position = 'bottom')  
    )

In [2]:
c(0.0186,0.0011,0.0045,0.0014,0.0030,0.0857,0.0155,0.0068,0.0012, 0.0068)

 [1] 0.0186 0.0011 0.0045 0.0014 0.0030 0.0857 0.0155 0.0068 0.0012 0.0068