In [1]:
import pandas as pd

In [2]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_integration_og.csv'

In [3]:
df_09 = pd.read_csv(file)
df_09.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,CVE_MUN,secuestro
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,2,0
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,2,0

In [4]:
df_09_copy = df_09.copy()

In [5]:
df_09_copy.drop(labels=['CVE_MUN'], axis=1, inplace=True)

## AdaBoostClassifier

In [6]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split

In [7]:
X = df_09_copy.iloc[:,:-1]
X.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,0,0
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y = df_09_copy.iloc[:,-1:]
y.head(2)

   secuestro
0          0
1          0

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.8,
                                                    test_size=0.2, 
                                                    random_state=100)

In [10]:
print(df_09_copy.shape, X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(1733, 118) (1386, 117) (1386, 1) (347, 117) (347, 1)

In [12]:
ada = AdaBoostClassifier(n_estimators=100, random_state=100)

In [13]:
ada_fit = ada.fit(X_train, y_train)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
ada_fit

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=100)

In [15]:
ada_predict = ada_fit.predict(X_test)

In [16]:
ada_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [17]:
ada_fit.score(X_test, y_test)

0.930835734870317

In [18]:
X_train.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
1667,3,2,3,2,63,4,3,2,1,2,...,0,0,0,0,0,0,0,0,0,0
1250,1,3,2,1,46,10,3,2,1,2,...,17419,1467,1467,0,0,1711,3668,0,0,0

In [55]:
X_train.shape

(1386, 117)