In [1]:
import pandas as pd

In [2]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_integration_transform.csv'

In [3]:
df_09 = pd.read_csv(file)
df_09.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob,CVE_MUN,secuestro
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000,2,0
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438,2,0

In [4]:
df_09_copy = df_09.copy()

In [5]:
df_09_copy.drop(labels=['CVE_MUN'], axis=1, inplace=True)

## KNeighbors

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [7]:
X = df_09_copy.iloc[:,:-1]
X.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,percep_tot,mantenim,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.062676,0.0,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.003912,0.0,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438

In [8]:
y = df_09_copy.iloc[:,-1:]
y.head(2)

   secuestro
0          0
1          0

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.8,
                                                    test_size=0.2, 
                                                    random_state=100)

In [10]:
print(df_09_copy.shape, X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(1733, 51) (1386, 50) (1386, 1) (347, 50) (347, 1)

In [30]:
kn = KNeighborsClassifier(n_neighbors=7)

In [31]:
kn_fit = kn.fit(X_train, y_train)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [32]:
kn_fit

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [33]:
kn_predict = kn_fit.predict(X_test)

In [34]:
kn_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [38]:
kn.score(X_train, y_train)

0.9401154401154401

In [41]:
kn.fit(X_train, y_train)
print('Accuracy of K-NN classifier on training set: {:.7f}'
     .format(kn.score(X_train, y_train)))
print('Accuracy of K-NN classifier on test set: {:.7f}'
     .format(kn.score(X_test, y_test)))

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

Accuracy of K-NN classifier on training set: 0.9401154
Accuracy of K-NN classifier on test set: 0.9510086

In [36]:
X_train.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,percep_tot,mantenim,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob
1667,0.047158,0.013932,0.008133,0.003024,0.029635,0.005545,0.164144,0.019589,0.007289,0.055955,...,0.020366,0.0,0.005972,0.000000,0.0,0.040786,0.0,0.013414,0.0,0.014257
1250,0.161509,0.076666,0.048832,0.026679,0.071086,0.047887,0.223026,0.169162,0.021923,0.220545,...,0.000000,0.0,0.000000,0.099169,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [37]:
X_train.shape

(1386, 50)

In [29]:
k_range = range(1, 20)
scores = []
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(X_train, y_train)
    scores.append(knn.score(X_test, y_test))
plt.figure()
plt.xlabel('k')
plt.ylabel('accuracy')
plt.scatter(k_range, scores)
plt.xticks([0,5,10,15,20])

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """
/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

NameError: name 'plt' is not defined

In [40]:
y_test

      secuestro
1680          1
1043          1
538           1
790           1
27            0
31            0
869           1
170           1
372           1
1710          1
289           1
56            0
1656          1
57            0
1167          1
711           1
906           1
860           1
368           1
361           1
784           1
948           1
1525          1
555           1
71            0
584           1
269           1
1135          1
981           1
434           1
...         ...
1039          1
367           1
811           1
647           1
433           1
616           1
519           1
487           1
1732          1
285           1
1085          1
401           1
521           1
142           1
717           1
1519          1
939           1
318           1
1172          1
636           1
533           1
891           1
1092          1
560           1
525           1
494           1
713           1
1451          1
532           1
1536          1

[347 rows x 1 columns]