In [1]:
import pandas as pd

In [36]:
file = "../../../../../dataframes/ dataframes/envi /df_concat_2017.csv"

In [37]:
df_01 = pd.read_csv(filepath_or_buffer=file)
df_01.head()

,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,BP1_2_09,...,CVE_MUN,EST,EST_DIS,H_MUD,LOC,N_ENT,PER,R_DEF,R_SEL,VIV_SEL
0,2,1,3,2,3,1,2,2,2,2,...,2,3,110,0,1,2,117,1,2,1
1,2,2,2,2,1,2,2,2,2,2,...,2,3,110,0,1,2,117,1,3,2
2,2,1,1,2,3,1,1,1,2,3,...,2,3,110,0,1,2,117,1,1,3
3,1,1,1,1,3,1,1,1,2,2,...,2,3,110,0,1,2,117,1,1,5
4,2,2,2,2,3,2,1,2,2,3,...,2,2,100,0,1,3,117,1,2,1

In [38]:
df_01.shape

(4374, 124)

In [39]:
file = "../../../../../dataframes/ensu/df_concat_2016.csv"

In [40]:
df_02 = pd.read_csv(filepath_or_buffer=file)
df_02.head()

,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,...,FCHDEFM_I,FCHDEFM_T,H_MUD,LOC,N_ENT,PER,PRO_VIV,R_DEF,R_SEL,VIV_SEL
0,NaN,2,1,2,2,3,2,1,2,2,...,NaN,NaN,0,1,NaN,116,NaN,1,2,1
1,NaN,2,1,1,2,1,3,1,2,2,...,NaN,NaN,0,1,NaN,116,NaN,1,1,3
2,NaN,2,1,3,2,3,3,1,1,3,...,NaN,NaN,0,1,NaN,116,NaN,1,1,5
3,NaN,2,1,3,2,3,2,1,2,2,...,NaN,NaN,0,1,NaN,116,NaN,1,2,1
4,NaN,2,1,1,2,3,1,1,2,2,...,NaN,NaN,0,1,NaN,116,NaN,1,1,2

In [41]:
df_02.shape

(4344, 118)

In [42]:
df_01.shape

(4374, 124)

In [43]:
frames = [df_01, df_02]

In [44]:
df = pd.concat(frames)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [45]:
df.shape

(8718, 133)

In [46]:
file = "../../../../../dataframes/ensu/df_concat.csv"

In [47]:
df.to_csv(path_or_buf=file, index=False)