In [2]:
import pandas as pd
import numpy as np

CLEAN

In [5]:
file = "../../../../../../dataframes/enoe/SDEMT/df_09_clean.csv"

In [6]:
df = pd.read_csv(file)

In [9]:
df.head(1)

,CVE_LOC,CVE_MUN,est,t_loc,CVE_ENT,sex,eda,nac_dia,nac_mes,nac_anio,...,ma48me1sm,p14apoyos,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins
0,1,2,10,1,9,1.0,46.0,31.0,3.0,1969.0,...,0,2,4,1,1,1,0,1,7,8

In [11]:
df.shape

(76397, 75)

In [16]:
df_clean = df.copy()

In [17]:
df_clean = df_clean[["CVE_LOC", "CVE_MUN"]].copy()

In [18]:
df_clean.head(1)

   CVE_LOC  CVE_MUN
0        1        2

IMPUTE

In [21]:
file = "../../../../../../dataframes/enoe/SDEMT/df_09_impute.csv"

In [22]:
df = pd.read_csv(file)

In [23]:
df.head(1)

,est,t_loc,sex,eda,nac_dia,nac_mes,nac_anio,l_nac_c,cs_p12,cs_p13_1,...,ma48me1sm,p14apoyos,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins
0,10,1,1,46,31,3,1969,15,1,2,...,0,2,4,1,1,1,0,1,7,8

In [24]:
df.shape

(76397, 68)

In [25]:
df_impute = df.copy()

In [26]:
df = df_impute

In [27]:
df[["CVE_LOC", "CVE_MUN"]] = df_clean

In [28]:
df.head(1)

,est,t_loc,sex,eda,nac_dia,nac_mes,nac_anio,l_nac_c,cs_p12,cs_p13_1,...,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins,CVE_LOC,CVE_MUN
0,10,1,1,46,31,3,1969,15,1,2,...,4,1,1,1,0,1,7,8,1,2

In [29]:
df_copy = df.copy()

In [30]:
df.shape

(76397, 70)

In [31]:
list_num = ["eda", "anios_esc", "hrsocup", "ingocup", "ing_x_hrs"]

In [32]:
list_cat = []

for row in df_copy.columns:
    if row not in list_num:
#            print(row)
        list_cat.append(row)
            
list_cat

['est',
 't_loc',
 'sex',
 'nac_dia',
 'nac_mes',
 'nac_anio',
 'l_nac_c',
 'cs_p12',
 'cs_p13_1',
 'cs_p13_2',
 'cs_p17',
 'e_con',
 'salario',
 'clase1',
 'clase2',
 'clase3',
 'pos_ocu',
 'seg_soc',
 'rama',
 'c_ocu11c',
 'ing7c',
 'dur9c',
 'emple7c',
 'medica5c',
 'buscar5c',
 'rama_est1',
 'rama_est2',
 'dur_est',
 'ambito1',
 'ambito2',
 'tue1',
 'tue2',
 'tue3',
 'busqueda',
 'd_ant_lab',
 'd_cexp_est',
 'dur_des',
 'sub_o',
 's_clasifi',
 'remune2c',
 'pre_asa',
 'tip_con',
 'dispo',
 'nodispo',
 'c_inac5c',
 'pnea_est',
 'niv_ins',
 'hij5c',
 'domestico',
 'tpg_p8a',
 'tcco',
 'cp_anoc',
 'imssissste',
 'ma48me1sm',
 'p14apoyos',
 'scian',
 't_tra',
 'emp_ppal',
 'tue_ppal',
 'trans_ppal',
 'mh_fil2',
 'mh_col',
 'sec_ins',
 'CVE_LOC',
 'CVE_MUN']

In [33]:
list_cat.remove('CVE_LOC')

In [34]:
list_cat.remove('CVE_MUN')

In [36]:
f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[list_cat].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[list_num].columns):
#        print(column, 'numericos')
        f[column] = 'mean'
    
f

{'est': <function __main__.<lambda>(x)>,
 't_loc': <function __main__.<lambda>(x)>,
 'sex': <function __main__.<lambda>(x)>,
 'eda': 'mean',
 'nac_dia': <function __main__.<lambda>(x)>,
 'nac_mes': <function __main__.<lambda>(x)>,
 'nac_anio': <function __main__.<lambda>(x)>,
 'l_nac_c': <function __main__.<lambda>(x)>,
 'cs_p12': <function __main__.<lambda>(x)>,
 'cs_p13_1': <function __main__.<lambda>(x)>,
 'cs_p13_2': <function __main__.<lambda>(x)>,
 'cs_p17': <function __main__.<lambda>(x)>,
 'e_con': <function __main__.<lambda>(x)>,
 'salario': <function __main__.<lambda>(x)>,
 'clase1': <function __main__.<lambda>(x)>,
 'clase2': <function __main__.<lambda>(x)>,
 'clase3': <function __main__.<lambda>(x)>,
 'pos_ocu': <function __main__.<lambda>(x)>,
 'seg_soc': <function __main__.<lambda>(x)>,
 'rama': <function __main__.<lambda>(x)>,
 'c_ocu11c': <function __main__.<lambda>(x)>,
 'ing7c': <function __main__.<lambda>(x)>,
 'dur9c': <function __main__.<lambda>(x)>,
 'emple7c': <function __main__.<lambda>(x)>,
 'medica5c': <function __main__.<lambda>(x)>,
 'buscar5c': <function __main__.<lambda>(x)>,
 'rama_est1': <function __main__.<lambda>(x)>,
 'rama_est2': <function __main__.<lambda>(x)>,
 'dur_est': <function __main__.<lambda>(x)>,
 'ambito1': <function __main__.<lambda>(x)>,
 'ambito2': <function __main__.<lambda>(x)>,
 'tue1': <function __main__.<lambda>(x)>,
 'tue2': <function __main__.<lambda>(x)>,
 'tue3': <function __main__.<lambda>(x)>,
 'busqueda': <function __main__.<lambda>(x)>,
 'd_ant_lab': <function __main__.<lambda>(x)>,
 'd_cexp_est': <function __main__.<lambda>(x)>,
 'dur_des': <function __main__.<lambda>(x)>,
 'sub_o': <function __main__.<lambda>(x)>,
 's_clasifi': <function __main__.<lambda>(x)>,
 'remune2c': <function __main__.<lambda>(x)>,
 'pre_asa': <function __main__.<lambda>(x)>,
 'tip_con': <function __main__.<lambda>(x)>,
 'dispo': <function __main__.<lambda>(x)>,
 'nodispo': <function __main__.<lambda>(x)>,
 'c_inac5c': <function __main__.<lambda>(x)>,
 'pnea_est': <function __main__.<lambda>(x)>,
 'niv_ins': <function __main__.<lambda>(x)>,
 'hij5c': <function __main__.<lambda>(x)>,
 'domestico': <function __main__.<lambda>(x)>,
 'anios_esc': 'mean',
 'hrsocup': 'mean',
 'ingocup': 'mean',
 'ing_x_hrs': 'mean',
 'tpg_p8a': <function __main__.<lambda>(x)>,
 'tcco': <function __main__.<lambda>(x)>,
 'cp_anoc': <function __main__.<lambda>(x)>,
 'imssissste': <function __main__.<lambda>(x)>,
 'ma48me1sm': <function __main__.<lambda>(x)>,
 'p14apoyos': <function __main__.<lambda>(x)>,
 'scian': <function __main__.<lambda>(x)>,
 't_tra': <function __main__.<lambda>(x)>,
 'emp_ppal': <function __main__.<lambda>(x)>,
 'tue_ppal': <function __main__.<lambda>(x)>,
 'trans_ppal': <function __main__.<lambda>(x)>,
 'mh_fil2': <function __main__.<lambda>(x)>,
 'mh_col': <function __main__.<lambda>(x)>,
 'sec_ins': <function __main__.<lambda>(x)>}

In [37]:
grouped = df_copy.groupby(by=['CVE_MUN', 'CVE_LOC']).agg(f)
grouped

                 est  t_loc  sex        eda  nac_dia  nac_mes  nac_anio  \
CVE_MUN CVE_LOC
2       1         30      1    2  37.372524       15        7      1987
3       1         20      1    2  36.862076       15        6      1986
4       1         30      1    2  34.002540       15        6      1985
        20        20      2    2  34.048218       24        8      1991
5       1         20      1    2  35.841090       16        6      1997
6       1         30      1    2  38.305651       12        6      1964
7       1         20      1    2  33.607856       14        6      1986
8       1         20      1    2  34.086327       17       10      1985
        83        20      4    2  34.236842       16       11      1965
        88        20      4    2  25.053333       18        8      2009
        100       20      4    1  33.500000       15       12      1975
        112       20      4    1  19.261538       25        5      2005
9       1         20      2    1  37.351351       25        4      1981
        11        30      2    2  37.500000        7        6      1986
        17        20      3    1  34.950617       11        8      1994
        33        20      3    1  36.725490       27       10      1965
        41        20      4    1  26.668571        3        4      2001
        56        20      4    1  36.109091       22        1      1961
        83        20      4    2  31.461538       14        4      1980
        101       20      4    1  29.250000        4       10      2013
        109       20      4    2  29.816667       25        3      2010
        112       20      4    1  17.981132        6        9      1986
        115       20      4    1  26.973684       29        9      1969
        123       20      4    2  27.250000       18       12      2012
        142       20      4    1  42.750000       14       10      1965
        152       20      3    2  27.815068       29        4      1997
        155       20      4    2  33.474576        3        9      1976
        160       20      4    1  32.000000       27        7      2005
        161       20      4    1  36.300000       22        5      1989
        196       20      4    1  30.979167       20        3      1968
...              ...    ...  ...        ...      ...      ...       ...
        251       20      4    2  45.750000       13        5      1966
        257       20      4    1  44.000000        7        1      1959
        280       20      4    1  26.650000       13        5      1987
        312       20      4    2  23.859649       27       12      1970
        322       20      4    2  22.618421       12        8      2005
        325       20      4    1  29.470588        8       12      2015
        327       20      4    1  25.500000       16       12      1974
        330       20      4    1  18.787234       23        5      2009
        346       20      4    2  35.372549       30        5      1975
10      1         20      1    2  35.760813       15        6      1986
11      1         20      1    2  32.974537       15        6      1996
        11        20      3    1  31.181818       27        6      1997
        21        20      2    1  33.577061        7        7      1977
        26        20      3    2  31.562963       29        7      1971
12      1         20      1    2  34.392233       15        6      1991
        26        30      2    2  32.246212       10        8      1967
        27        20      2    1  37.715278       22       10      1976
        135       20      4    1  29.355828       19        9      1976
        161       20      4    1  18.800000       12        6      2007
        222       20      4    2  30.222222       16        2      1967
        290       20      4    1  27.971765        8        9      2000
        332       20      4    1  30.875000        5        4      1991
13      1         20      1    1  32.697825       12        5      1986
        134       20      4    2  28.521008       19        2      1980
        231       20      4    2  26.438596        2       10      2014
        239       20      4    2  27.079365       28        4      1971
14      1         40      1    2  40.064783       16        6      1987
15      1         30      1    2  36.471371       12        6      1987
16      1         30      1    2  40.106960       12        6      1984
17      1         30      1    2  35.623450       15        5      1986

                 l_nac_c  cs_p12  cs_p13_1  ...  ma48me1sm  p14apoyos  scian  \
CVE_MUN CVE_LOC                             ...
2       1              9       1         7  ...          0          0      0
3       1              9       1         7  ...          0          0      0
4       1              9       1         3  ...          0          0      0
        20             9       1         3  ...          0          0      0
5       1              9       1         4  ...          0          0      0
6       1              9       1         7  ...          0          0      0
7       1              9       1         3  ...          0          0      0
8       1              9       1         2  ...          0          0      0
        83             9       1         3  ...          0          0      0
        88             9       1         2  ...          0          0      0
        100            9       1         3  ...          0          2      4
        112            9       1         2  ...          0          0      0
9       1              9       1         2  ...          0          0      0
        11             9       1         7  ...          0          0      0
        17             9       1         2  ...          0          0      0
        33             9       1         7  ...          0          0      0
        41             9       1         3  ...          0          0      0
        56            15       1         3  ...          0          0      0
        83             9       1         2  ...          0          0      0
        101            9       1         2  ...          0          0      0
        109            9       1         3  ...          0          0      0
        112            9       1         2  ...          0          0      0
        115            9       1         2  ...          0          0      0
        123            9       1         4  ...          0          0      0
        142           15       1         2  ...          0          0     18
        152            9       1         2  ...          0          0      0
        155           15       1         3  ...          0          0      0
        160            9       1         2  ...          0          2      0
        161            9       1         2  ...          0          2      0
        196            9       1         2  ...          0          0      0
...                  ...     ...       ...  ...        ...        ...    ...
        251           13       1         2  ...          0          2      4
        257           15       1         2  ...          0          0      7
        280           12       1         4  ...          0          0      0
        312            9       1         3  ...          0          0      0
        322            9       1         2  ...          0          0      0
        325            9       1         3  ...          0          2      0
        327            9       1         2  ...          0          0      0
        330            9       1         3  ...          0          0      0
        346           20       1         2  ...          0          0      0
10      1              9       1         3  ...          0          0      0
11      1              9       1         3  ...          0          0      0
        11             9       1         3  ...          0          0      0
        21             9       1         2  ...          0          0      0
        26             9       1         3  ...          0          0      0
12      1              9       1         2  ...          0          0      0
        26             9       1         2  ...          0          0      0
        27             9       1         3  ...          0          0      0
        135            9       1         3  ...          0          0      0
        161            9       1         6  ...          0          0      0
        222            9       1         2  ...          0          0      7
        290            9       1         2  ...          0          0      0
        332            9       1         2  ...          0          0      0
13      1              9       1         3  ...          0          0      0
        134            9       1         2  ...          0          0      0
        231            9       1         2  ...          0          0      0
        239            9       1         2  ...          0          0      0
14      1              9       1         7  ...          0          0      0
15      1              9       1         7  ...          0          0      0
16      1              9       1         7  ...          0          0      0
17      1              9       1         3  ...          0          0      0

                 t_tra  emp_ppal  tue_ppal  trans_ppal  mh_fil2  mh_col  \
CVE_MUN CVE_LOC
2       1            1         0         0           0        0       0
3       1            1         0         0           0        0       0
4       1            1         0         0           0        0       0
        20           1         0         0           0        0       0
5       1            1         0         0           0        0       0
6       1            1         0         0           0        0       0
7       1            1         0         0           0        0       0
8       1            1         0         0           0        0       0
        83           1         1         2           0        3       0
        88           1         0         0           0        0       0
        100          1         1         2           0        2       1
        112          1         0         0           0        0       0
9       1            1         0         0           0        0       0
        11           1         0         0           0        0       0
        17           1         0         0           0        0       0
        33           1         2         2           0        3       2
        41           1         0         0           0        0       0
        56           1         0         0           0        0       0
        83           1         0         0           0        0       0
        101          1         0         0           0        0       0
        109          1         1         1           0        1       0
        112          1         0         0           0        0       0
        115          1         0         0           0        0       0
        123          1         1         2           0        0       1
        142          1         1         1           0        1       7
        152          1         0         0           0        0       0
        155          1         1         0           0        0       0
        160          1         1         0           0        0       0
        161          1         1         0           0        0       1
        196          1         1         0           0        0       0
...                ...       ...       ...         ...      ...     ...
        251          1         1         1           0        1       3
        257          1         1         0           0        0       0
        280          1         0         0           0        0       0
        312          1         0         0           0        0       0
        322          1         0         0           0        0       0
        325          1         0         0           0        0       0
        327          1         0         0           0        0       0
        330          1         0         0           0        0       0
        346          1         1         2           0        0       1
10      1            1         0         0           0        0       0
11      1            1         0         0           0        0       0
        11           1         0         0           0        0       0
        21           1         0         0           0        0       0
        26           1         0         0           0        0       0
12      1            1         0         0           0        0       0
        26           1         0         0           0        0       0
        27           1         0         0           0        0       0
        135          1         0         0           0        0       0
        161          1         0         0           0        0       0
        222          1         1         1           0        1       1
        290          1         0         0           0        0       0
        332          1         0         0           0        0       0
13      1            1         0         0           0        0       0
        134          1         0         0           0        0       0
        231          1         0         0           0        0       0
        239          1         1         0           0        0       0
14      1            1         0         2           0        0       0
15      1            1         0         0           0        0       0
16      1            1         0         0           0        0       0
17      1            1         0         0           0        0       0

                 sec_ins
CVE_MUN CVE_LOC
2       1              0
3       1              0
4       1              0
        20             0
5       1              0
6       1              0
7       1              0
8       1              0
        83             0
        88             0
        100            0
        112            0
9       1              0
        11             0
        17             0
        33             0
        41             0
        56             0
        83             0
        101            0
        109            8
        112            0
        115            0
        123            0
        142            8
        152            0
        155            0
        160            0
        161            0
        196            0
...                  ...
        251            8
        257            0
        280            0
        312            0
        322            0
        325            0
        327            0
        330            0
        346            0
10      1              0
11      1              0
        11             0
        21             0
        26             0
12      1              0
        26             0
        27             0
        135            0
        161            0
        222            8
        290            0
        332            0
13      1              0
        134            0
        231            0
        239            0
14      1              0
15      1              0
16      1              0
17      1              0

[69 rows x 68 columns]

In [42]:
grouped.shape

(69, 68)

In [40]:
file = "../../../../../../dataframes/enoe/SDEMT/df_grouped.csv"

In [41]:
grouped.to_csv(file,index = False, header = True, sep = ',', encoding = 'utf-8')