In [2]:
import pandas as pd

In [38]:
file = '../data/pgj-cdmx/PLAGIO_O_SECUESTRO.csv'

In [39]:
df = pd.read_csv(file)

In [40]:
df_copy = df.copy()

In [41]:
df_copy.head()

,ID,Año,Mes,Alcaldía,Categoría de delito,Delito,Agencia,Unidad de investigación,Fecha inicio,Fiscalía,Calle1,Calle2,Colonia,Latitud,Longitud,Mes y año,Geopoint
0,5297,2017,Mayo,GUSTAVO A MADERO,SECUESTRO,PLAGIO O SECUESTRO,E,UI-1CD,2017-05-11T05:36:27-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,MANTA,NaN,LINDAVISTA,19.491553,-99.135001,2017-05,"19.4915532042, -99.1350011476"
1,5435,2016,Julio,CUAUHTEMOC,SECUESTRO,PLAGIO O SECUESTRO,E,UI-3CD,2016-07-05T06:54:22-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,PROLONGACION VALLEGO,NaN,SAN SIMÓN TOLNAHUAC,19.459304,-99.139653,2016-07,"19.4593044259, -99.1396525907"
2,11497,2016,Agosto,AZCAPOTZALCO,SECUESTRO,PLAGIO O SECUESTRO,E,UI-1CD,2016-08-23T17:53:13-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,CONFIDENCIAL A/010/2002,CONFIDENCIAL A/010/2002,NaN,NaN,NaN,2016-08,NaN
3,16087,2016,Marzo,XOCHIMILCO,SECUESTRO,PLAGIO O SECUESTRO,XO-1,T3,2016-03-07T08:12:19-06:00,INVESTIGACIÓN EN XOCHIMILCO,MOCTEZUMA,VICENTE GUERRERO,SAN LORENZO ATEMOAYA,19.226944,-99.106343,2016-03,"19.2269439998, -99.106343"
4,47083,2017,Abril,IZTAPALAPA,SECUESTRO,PLAGIO O SECUESTRO,E,UI-1CD,2017-04-05T07:42:29-05:00,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE S...,AVENIDA CIRCUNVALACIÓN,NaN,EJERCITO DE AGUA PRIETA,19.364236,-99.033860,2017-04,"19.3642356314, -99.0338595791"

In [42]:
df_copy.drop(labels=['Geopoint', 'Fiscalía', 'Calle1', 'Calle2', 'Mes y año', 'Categoría de delito', 'Delito',
                     'Agencia', 'Unidad de investigación', 'Fecha inicio', 'Fiscalía'],
            axis=1, inplace=True)

In [43]:
df_copy.head()

,ID,Año,Mes,Alcaldía,Colonia,Latitud,Longitud
0,5297,2017,Mayo,GUSTAVO A MADERO,LINDAVISTA,19.491553,-99.135001
1,5435,2016,Julio,CUAUHTEMOC,SAN SIMÓN TOLNAHUAC,19.459304,-99.139653
2,11497,2016,Agosto,AZCAPOTZALCO,NaN,NaN,NaN
3,16087,2016,Marzo,XOCHIMILCO,SAN LORENZO ATEMOAYA,19.226944,-99.106343
4,47083,2017,Abril,IZTAPALAPA,EJERCITO DE AGUA PRIETA,19.364236,-99.033860

Checar si existen observaciones y/o columnas nulas

In [24]:
df_copy.isnull().any().any()

True

Checar cuáles columnas tienen nulos

In [25]:
df_copy.columns[df_copy.isnull().any()].tolist()

['Colonia', 'Latitud', 'Longitud']

Checar el número de observaciones vacías

In [27]:
len(pd.isnull(df_copy).any(1).to_numpy().nonzero()[0].tolist())

1

Checar cuáles observaciones están vacías

In [28]:
pd.isnull(df_copy).any(1).to_numpy().nonzero()[0].tolist()

[2]

Eliminar las observaciones vacías

In [29]:
df_copy.dropna(axis=0, inplace=True)

Confirmar si existen observaciones y/o columnas nulas

In [31]:
df_copy.isnull().any().any()

False

In [32]:
df_copy.head()

,ID,Año,Mes,Alcaldía,Colonia,Latitud,Longitud
0,5297,2017,Mayo,GUSTAVO A MADERO,LINDAVISTA,19.491553,-99.135001
1,5435,2016,Julio,CUAUHTEMOC,SAN SIMÓN TOLNAHUAC,19.459304,-99.139653
3,16087,2016,Marzo,XOCHIMILCO,SAN LORENZO ATEMOAYA,19.226944,-99.106343
4,47083,2017,Abril,IZTAPALAPA,EJERCITO DE AGUA PRIETA,19.364236,-99.033860
5,57282,2017,Junio,IZTAPALAPA,SANTA MARTHA ACATITLA NORTE,19.382102,-99.022806

In [34]:
df_copy.Año.value_counts()

2016    33
2017    17
Name: Año, dtype: int64

In [44]:
len(df_copy[(df_copy.Año == 2016) | (df_copy.Año == 2017)])

51

In [36]:
df_copy[(df_copy.Año == 2016)].Alcaldía.value_counts()

IZTAPALAPA          15
BENITO JUAREZ        4
CUAUHTEMOC           3
ALVARO OBREGON       3
GUSTAVO A MADERO     3
TLALPAN              2
XOCHIMILCO           1
MIGUEL HIDALGO       1
COYOACAN             1
Name: Alcaldía, dtype: int64

In [37]:
df_copy[(df_copy.Año == 2017)].Alcaldía.value_counts()

IZTAPALAPA               6
MILPA ALTA               2
ALVARO OBREGON           2
CUAUHTEMOC               1
CUAJIMALPA DE MORELOS    1
VENUSTIANO CARRANZA      1
IZTACALCO                1
GUSTAVO A MADERO         1
COYOACAN                 1
TLAHUAC                  1
Name: Alcaldía, dtype: int64