In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [5]:
file = "../../../../dataframes/faostat/production_indices/production_indices.csv"

In [6]:
df = pd.read_csv(file)

In [7]:
df.shape

(34416, 5)

In [8]:
df_copy = df.copy()

In [9]:
df_copy.head()

   area_code  element_code  item_code  year   value
0          2           432       2051  2010  116.22
1          2           432       2051  2011  111.08
2          2           432       2051  2012  122.45
3          2           432       2051  2013  119.90
4          2           432       2051  2014  124.13

In [10]:
list_num = ["value"]

In [11]:
list_cat = []

for row in df_copy.columns:
    if row not in list_num:
#            print(row)
        list_cat.append(row)
            
#list_numericos

In [12]:
df_copy[list_cat].head()

   area_code  element_code  item_code  year
0          2           432       2051  2010
1          2           432       2051  2011
2          2           432       2051  2012
3          2           432       2051  2013
4          2           432       2051  2014

In [13]:
dataframe_to_transform = df_copy[list_cat].copy()

for column in df_copy[list_cat].columns:
    df = pd.DataFrame(dataframe_to_transform[column].value_counts(normalize=True, sort=False, ascending=True))
#    df['cumsum']=(np.cumsum(df[column]))/2
    df['cumsum']=np.cumsum(df[column])
#    print(df)
    
    if df[df.duplicated(['cumsum'], keep=False)].any() is True:
        print(df[df.duplicated(['cumsum'], keep=False)])
    else:
        dict_to_transform = df['cumsum'].to_dict()
#        print(dict_to_transform)
        dataframe_to_transform[column] = dataframe_to_transform[column].replace(dict_to_transform)
#        print(dataframe_to_transform)

In [14]:
dataframe_to_transform.head()

   area_code  element_code  item_code      year
0   0.061018          0.25   0.175267  0.286262
1   0.061018          0.25   0.175267  0.429568
2   0.061018          0.25   0.175267  0.572176
3   0.061018          0.25   0.175267  0.714784
4   0.061018          0.25   0.175267  0.857392

In [15]:
df_num = df_copy[list_num]
dataframe_to_normalize=((df_num-df_num.min())/(df_num.max()-df_num.min()))*1

In [16]:
dataframe_to_normalize.head()

      value
0  0.164884
1  0.157333
2  0.174036
3  0.170290
4  0.176504

In [17]:
df_copy[list_cat] = dataframe_to_transform
df_copy[list_num] = dataframe_to_normalize
df_copy.head()

   area_code  element_code  item_code      year     value
0   0.061018          0.25   0.175267  0.286262  0.164884
1   0.061018          0.25   0.175267  0.429568  0.157333
2   0.061018          0.25   0.175267  0.572176  0.174036
3   0.061018          0.25   0.175267  0.714784  0.170290
4   0.061018          0.25   0.175267  0.857392  0.176504

In [18]:
list_regejos = df_copy.columns[df_copy.isnull().any()].tolist()
list_regejos

[]

In [19]:
df_copy.drop(labels=list_regejos, axis=1, inplace=True)

In [20]:
file = "../../../../dataframes/faostat/production_indices/production_indices_transform.csv"

In [21]:
df_copy.to_csv(file,index = False, header = True, sep = ',', encoding = 'utf-8')