In [1]:
import pandas as pd

In [2]:
file = '../../../../../../dataframes/inegi/df_sec_deleg.csv'

In [3]:
df_sec_deleg = pd.read_csv(file)
df_sec_deleg.head()

,ID,Año,Mes,NOM_MUN,Latitud,Longitud,Geopoint,CVE_MUN
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476",5
1,87961,2016,Agosto,GUSTAVO A MADERO,19.497711,-99.113795,"19.4977111806, -99.1137954007",5
2,454115,2016,Abril,GUSTAVO A MADERO,19.465953,-99.119078,"19.4659529998, -99.119078",5
3,541197,2016,Marzo,GUSTAVO A MADERO,19.501905,-99.131572,"19.5019049998, -99.131572",5
4,5435,2016,Julio,CUAUHTEMOC,19.459304,-99.139653,"19.4593044259, -99.1396525907",15

## SECUESTROS

aquí lo importantes es el `CVE_MUN`

In [4]:
file = '../../../../../../dataframes/inegi/df_sec_deleg.csv'

In [5]:
df_sec_deleg = pd.read_csv(file)
df_sec_deleg.head(2)

,ID,Año,Mes,NOM_MUN,Latitud,Longitud,Geopoint,CVE_MUN
0,5297,2017,Mayo,GUSTAVO A MADERO,19.491553,-99.135001,"19.4915532042, -99.1350011476",5
1,87961,2016,Agosto,GUSTAVO A MADERO,19.497711,-99.113795,"19.4977111806, -99.1137954007",5

In [6]:
df_sec_deleg_copy = df_sec_deleg.copy()

In [7]:
df_sec_deleg.CVE_MUN.unique()

array([ 5, 15, 13,  7, 16,  4, 14, 12, 10, 17,  3,  6,  9, 11])

In [8]:
list_delegaciones = list(df_sec_deleg.CVE_MUN.unique())

## DATAFRAME WITH `CVE_MUN`

aquí lo importantes es el `CVE_MUN`

In [9]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_09.csv'

In [10]:
df_09 = pd.read_csv(file)
df_09.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,CVE_MUN
0,1,2,3,1,40,8,4,1,3,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,1,2,1,1,83,8,1,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [11]:
df_09_copy = df_09.copy()

In [12]:
df_09_copy.shape

(1733, 120)

## DATAFRAME OG

aquí lo importantes es el `CVE_MUN`

In [13]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_09_clean.csv'

In [14]:
df_vect_best_entropy = pd.read_csv(file)
df_vect_best_entropy.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,0,0
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df_vect_best_entropy_copy = df_vect_best_entropy.copy()

In [16]:
df_vect_best_entropy_copy.shape

(1733, 117)

Extraemos el `CVE_MUN` del data frame `df_09_copy`

In [17]:
df_09_copy[['CVE_MUN']].head(2)

   CVE_MUN
0        2
1        2

Se lo ponemos al data frame `df_vect_best_entropy_copy`

In [18]:
df_vect_best_entropy_copy['CVE_MUN'] = df_09_copy['CVE_MUN']

In [19]:
df_vect_best_entropy_copy.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,CVE_MUN
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,0,2
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,0,2

In [20]:
list_target = []

for key, value in df_vect_best_entropy_copy.CVE_MUN.items():
    if df_vect_best_entropy_copy.CVE_MUN.iloc[key] in list_delegaciones:
        list_target.append('1')
    else:
        list_target.append('0')

In [21]:
#list_target

In [22]:
df_vect_best_entropy_copy['secuestro'] = list_target

In [23]:
df_vect_best_entropy_copy.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,CVE_MUN,secuestro
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,2,0
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,2,0

In [24]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_integration_og.csv'

In [25]:
df_vect_best_entropy_copy.to_csv(path_or_buf=file, index=False)