In [1]:
library(SpatEntropy)
library(ggplot2)
library(stats)
library(factoextra)
library(clusterCrit)
library(scatterplot3d)
library(kmed)
library(plotly)

Loading required package: spatstat
Loading required package: spatstat.data
Loading required package: nlme
Loading required package: rpart

spatstat 1.58-2       (nickname: ‘Not Even Wrong’)
For an introduction to spatstat, type ‘beginner’

Welcome! Related Books: `Practical Guide To Cluster Analysis in R` at https://goo.gl/13EFCZ

Attaching package: ‘plotly’

The following object is masked from ‘package:ggplot2’:

    last_plot

The following object is masked from ‘package:stats’:

    filter

The following object is masked from ‘package:graphics’:

    layout

In [2]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_09_clean.csv'

In [3]:
#cargar
df <- read.csv(file = file)
data <- df
head(data)

  tam_loc est_socio clase_hog sexo_jefe edad_jefe educa_jefe tot_integ hombres
1 1       2         3         1         40         8         4         1
2 1       2         1         1         83         8         1         1
3 1       2         2         2         44         8         3         2
4 1       2         1         1         48        10         1         1
5 1       2         1         1         75        10         1         1
6 1       2         3         1         60         4         8         2
  mujeres mayores ⋯ cuota_viv mater_serv material servicio deposito prest_terc
1 3       3       ⋯ 0           0          0      0        0        0
2 0       1       ⋯ 0           0          0      0        0        0
3 1       2       ⋯ 0           0          0      0        0        0
4 0       1       ⋯ 0           0          0      0        0        0
5 0       1       ⋯ 0           0          0      0        0        0
6 6       7       ⋯ 0         929        929      0        0        0
  pago_tarje deudas balance otras_erog
1 0              0     0    0
2 0              0     0    0
3 0              0     0    0
4 0              0     0    0
5 0          10327     0    0
6 0              0  1076    0

In [4]:
ncol(data)

[1] 117

In [5]:
list_bin = 'sexo_jefe'

In [6]:
list_cat = c('tam_loc', 'est_socio', 'clase_hog', 'educa_jefe')

In [7]:
list_num = c('edad_jefe','tot_integ', 'hombres', 'mujeres', 'mayores', 'menores', 'p12_64',
 'p65mas', 'ocupados', 'percep_ing', 'perc_ocupa', 'ing_cor', 'ingtrab', 'trabajo', 'sueldos',
 'horas_extr', 'comisiones', 'aguinaldo', 'indemtrab', 'otra_rem', 'remu_espec', 'negocio',
 'noagrop', 'industria', 'comercio', 'servicios', 'agrope', 'agricolas', 'pecuarios', 'otros_trab', 'rentas', 'utilidad', 'arrenda', 'transfer', 'jubilacion', 'becas', 'donativos', 'remesas',
 'bene_gob', 'transf_hog', 'trans_inst', 'estim_alqu', 'otros_ing', 'gasto_mon', 'alimentos', 'ali_dentro',
 'cereales', 'carnes', 'pescado', 'leche', 'huevo', 'aceites', 'tuberculo', 'verduras', 'frutas', 'azucar', 'cafe', 'especias', 'otros_alim', 'bebidas', 'ali_fuera', 'tabaco',
 'vesti_calz', 'vestido', 'calzado', 'vivienda', 'alquiler', 'pred_cons', 'agua', 'energia',
 'limpieza', 'cuidados', 'utensilios', 'enseres', 'salud', 'atenc_ambu', 'hospital', 'medicinas', 'transporte',
 'publico', 'foraneo', 'adqui_vehi', 'mantenim', 'refaccion', 'combus', 'comunica', 'educa_espa', 'educacion',
 'esparci', 'paq_turist', 'personales', 'cuida_pers', 'acces_pers', 'otros_gas', 'transf_gas', 'percep_tot',
 'retiro_inv', 'prestamos', 'otras_perc', 'ero_nm_viv', 'ero_nm_hog', 'erogac_tot', 'cuota_viv', 'mater_serv',
 'material', 'servicio', 'deposito', 'prest_terc', 'pago_tarje', 'deudas', 'balance', 'otras_erog')

In [ ]:
dist_data <- kmed::distmix(data = data,
                           method = "podani", 
                           idnum = list_num, 
                           idbin = list_bin, 
                           idcat = list_cat)

In [ ]:
data <- as.matrix(data)

range_k = 2:10
dunn_kmeans <- c()
set.seed(123)

for (k in range_k) {
  set.seed(123)
  
  kmeans <- kmed::fastkmed(distdata = dist_data, ncluster = k, iterate = 50)
  
  index_internal_kmeans <- clusterCrit::intCriteria(traj = dist_data,
                                                    part = as.integer(kmeans$cluster), 
                                                    crit = "dunn")
  dunn_kmeans[k-1] <- index_internal_kmeans$dunn
}

In [ ]:
max(dunn_kmeans)

In [ ]:
plot_dunn_kmeans <- ggplot2::qplot(x = range_k, 
                                   y = dunn_kmeans, 
                                   geom = 'line', 
                                   main = 'k-means', 
                                   xlab = 'k', 
                                   ylab = 'Dunn')

ggplotly(
    plot_dunn_kmeans  + 
    theme_bw() + #ylim(0,0.3) + 
    geom_vline(xintercept = range_k[which.max(dunn_kmeans)],
               linetype = 2, color='red')   
    )

In [ ]:
kmeans <- kmeans <- kmed::fastkmed(distdata = dist_data, 
                                   ncluster = range_k[which.max(dunn_kmeans)], 
                                   iterate = 50)

In [ ]:
plot_kmeans <- factoextra::fviz_cluster(object = list(data = data, 
                                                      cluster = kmeans$cluster),
                                        data = data,
                                        stand = F, 
                                        geom =  'point', 
                                        ellipse.type = 'convex',
                                        ellipse = T,
                                        main = paste('k-medoids "mrw" k:', range_k[which.max(dunn_kmeans)]),
                                        outlier.color = 'black',
                                        show.clust.cent = T)

ggplotly(
    plot_kmeans + 
    theme_bw() +
    theme(legend.position = 'bottom')  
    )