In [1]:
import pandas as pd

In [2]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_integration_transform.csv'

In [3]:
df_09 = pd.read_csv(file)
df_09.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob,CVE_MUN,secuestro
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000,2,0
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438,2,0

In [4]:
df_09_copy = df_09.copy()

In [5]:
df_09_copy.drop(labels=['CVE_MUN'], axis=1, inplace=True)

## AdaBoostClassifier

In [6]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split

In [7]:
X = df_09_copy.iloc[:,:-1]
X.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,percep_tot,mantenim,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob
0,0.057666,0.020397,0.011968,0.017172,0.023574,0.032725,0.130576,0.115601,0.015928,0.056004,...,0.062676,0.0,0.0,0.000000,0.0,0.125519,0.0,0.000000,0.0,0.000000
1,0.036192,0.014779,0.008422,0.019894,0.026646,0.017274,0.139914,0.061021,0.019411,0.000000,...,0.003912,0.0,0.0,0.206057,0.0,0.007835,0.0,0.010949,0.0,0.245438

In [8]:
y = df_09_copy.iloc[:,-1:]
y.head(2)

   secuestro
0          0
1          0

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.8,
                                                    test_size=0.2, 
                                                    random_state=100)

In [10]:
print(df_09_copy.shape, X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(1733, 51) (1386, 50) (1386, 1) (347, 50) (347, 1)

In [12]:
ada = AdaBoostClassifier(n_estimators=100, random_state=100)

In [13]:
ada_fit = ada.fit(X_train, y_train)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [14]:
ada_fit

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=100, random_state=100)

In [15]:
ada_predict = ada_fit.predict(X_test)

In [16]:
ada_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [17]:
ada_fit.score(X_test, y_test)

0.9481268011527377

In [18]:
X_train.head(2)

,ing_cor,gasto_mon,transporte,vivienda,alimentos,personales,ali_dentro,cuida_pers,limpieza,ingtrab,...,percep_tot,mantenim,atenc_ambu,tuberculo,otros_gas,ero_nm_hog,transf_hog,trans_inst,combus,bene_gob
1667,0.047158,0.013932,0.008133,0.003024,0.029635,0.005545,0.164144,0.019589,0.007289,0.055955,...,0.020366,0.0,0.005972,0.000000,0.0,0.040786,0.0,0.013414,0.0,0.014257
1250,0.161509,0.076666,0.048832,0.026679,0.071086,0.047887,0.223026,0.169162,0.021923,0.220545,...,0.000000,0.0,0.000000,0.099169,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [83]:
X_train.shape

(1386, 50)