In [76]:
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

In [2]:
file = '../../../../../../dataframes/enigh/CONCENTRADOHOGAR/mixed/df_integration_og.csv'

In [3]:
df_09 = pd.read_csv(file)
df_09.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog,CVE_MUN,secuestro
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,2,0
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,2,0

In [4]:
df_09_copy = df_09.copy()

In [5]:
df_09_copy.drop(labels=['CVE_MUN'], axis=1, inplace=True)

## RANDOM FOREST

In [6]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [7]:
X = df_09_copy.iloc[:,:-1]
X.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
0,1,2,3,1,40,8,4,1,3,3,...,0,0,0,0,0,0,0,0,0,0
1,1,2,1,1,83,8,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [8]:
y = df_09_copy.iloc[:,-1:]
y.head(2)

   secuestro
0          0
1          0

In [60]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    train_size=0.8,
                                                    test_size=0.2, 
                                                    random_state=10)

In [61]:
print(df_09_copy.shape, X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(1733, 118) (1386, 117) (1386, 1) (347, 117) (347, 1)

In [62]:
clf = RandomForestClassifier(n_estimators=100, max_depth=None, random_state=100)

In [63]:
clf_fit = clf.fit(X_train, y_train)

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [64]:
clf_fit

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=100, verbose=0, warm_start=False)

In [65]:
clf_predict = clf_fit.predict(X_test)

In [66]:
clf_predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [67]:
clf_fit.score(X_test, y_test)

0.9452449567723343

In [68]:
clf.fit(X_train, y_train)
print('Accuracy of RF classifier on training set: {:.5f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of RF classifier on test set: {:.5f}'
     .format(clf.score(X_test, y_test)))

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

Accuracy of RF classifier on training set: 1.00000
Accuracy of RF classifier on test set: 0.94524

In [69]:
pred = clf.predict(X_test)
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[  0  19]
 [  0 328]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        19
           1       0.95      1.00      0.97       328

   micro avg       0.95      0.95      0.95       347
   macro avg       0.47      0.50      0.49       347
weighted avg       0.89      0.95      0.92       347

/Users/jacoboleon/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [70]:
X_train.head(2)

,tam_loc,est_socio,clase_hog,sexo_jefe,edad_jefe,educa_jefe,tot_integ,hombres,mujeres,mayores,...,cuota_viv,mater_serv,material,servicio,deposito,prest_terc,pago_tarje,deudas,balance,otras_erog
1382,1,2,2,1,73,6,2,1,1,2,...,0,190,190,0,0,0,0,0,0,0
1261,1,3,1,2,88,3,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [71]:
X_train.shape

(1386, 117)