In [1]:
import pandas as pd

In [5]:
file = "../../../../dataframes/faostat/production_indices/production_indices_entropy_transform_numerical_kmeans.csv"

In [6]:
df_k = pd.read_csv(filepath_or_buffer=file)

In [7]:
df_k.head()

   kmeans$cluster
0               2
1               2
2               2
3               2
4               2

In [10]:
file = "../../../../data/faostat/FAOSTAT_data_3-8-2019.csv"

In [11]:
df = pd.read_csv(filepath_or_buffer=file)

In [12]:
df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2010,2010,Int. $,116.22,Fc,Calculated data
1,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2011,2011,Int. $,111.08,Fc,Calculated data
2,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2012,2012,Int. $,122.45,Fc,Calculated data
3,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2013,2013,Int. $,119.90,Fc,Calculated data
4,QI,Production Indices,2,Afghanistan,432,Gross Production Index Number (2004-2006 = 100),2051,Agriculture (PIN),2014,2014,Int. $,124.13,Fc,Calculated data

In [13]:
df['cluster'] = df_k['kmeans$cluster']

In [14]:
df_copy = df.copy()

In [15]:
numericos = ["Value"]

In [22]:
categoricos = ["Area", "Item", "Year", "cluster"]

In [23]:
f = {}

for column in df_copy.columns:
#    print(column)
    if(column in df_copy[categoricos].columns):
#        print(column, 'categoricos')
        f[column] = lambda x: x.value_counts().index[0]
    elif(column in df_copy[numericos].columns):
#        print(column, 'numericos')
        f[column] = 'mean'
    
f

{'Area': <function __main__.<lambda>(x)>,
 'Item': <function __main__.<lambda>(x)>,
 'Year': <function __main__.<lambda>(x)>,
 'Value': 'mean',
 'cluster': <function __main__.<lambda>(x)>}

In [ ]:
grouped = df_copy.groupby(by=["Value"]).agg(f)
grouped

In [ ]:
grouped = df_copy.groupby(by=["Area"]).agg(f)
grouped